Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g42, pull requests merged in 2022-10, with the labels that each got.

#83 chore: rename to match BE to FE + deployment stuff
  .gitignore
  backend/.dockerignore
  backend/.gcloudignore
  backend/.gitignore
  backend/Dockerfile
  backend/app.yaml
  backend/package.json
  backend/src/cache/redisCache.module.ts
  backend/src/question/question.controller.ts
  backend/src/question/question.service.ts
  backend/src/question/question.type.ts
Labels: fix

#95 fix shared types
  backend/nest-cli.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.dto.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/strategy/ws.access.strategy.ts
  backend/src/document/document.service.ts
  backend/src/match/match.gateway.ts
  backend/src/match/match.service.ts
  backend/src/question/question.controller.ts
  backend/src/question/question.service.ts
  backend/src/room/room.gateway.ts
  backend/src/room/room.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  backend/tsconfig.json
  backend/yarn.lock
  frontend/package.json
  frontend/src/features/dashboard/components/QuestionRadioGroup.tsx
  frontend/src/features/login/components/ForgetPasswordForm.tsx
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/features/login/components/ResetPasswordForm.tsx
  frontend/src/features/login/components/SignupForm.tsx
  frontend/src/features/user/components/ChangePasswordForm.tsx
  frontend/src/features/user/components/DeleteAccountDialog.tsx
  frontend/src/features/user/components/EditCredentialsForm.tsx
  frontend/src/features/user/types.ts
  frontend/src/pages/index.tsx
  frontend/src/pages/room/[id].tsx
  frontend/src/store/createAuthSlice.ts
  frontend/src/store/createCallSlice.ts
  frontend/src/store/createMatchSlice.ts
  frontend/src/store/createRoomSlice.ts
  frontend/src/store/useGlobalStore.tsx
  frontend/tsconfig.json
  frontend/vercel.json
  frontend/vite.config.ts
  frontend/yarn.lock
  shared/package.json
  shared/tsconfig.json
Labels: fix

#92 feat: auto-rematch + multi-difficulty matching
  backend/src/auth/auth.dto.ts
  backend/src/config/options.ts
  backend/src/match/match.gateway.ts
  backend/src/match/match.service.ts
  backend/src/question/question.controller.ts
  backend/src/question/question.dto.ts
  backend/src/room/room.service.ts
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/components/base/alert/base.tsx
  frontend/src/components/base/alert/error.tsx
  frontend/src/components/base/alert/success.tsx
  frontend/src/components/base/button/base.tsx
  frontend/src/components/base/checkgroup/base.tsx
  frontend/src/components/base/dialog/primary.tsx
  frontend/src/components/base/dropdown/base.tsx
  frontend/src/components/base/radiogroup/base.tsx
  frontend/src/components/base/tabs/base.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/TheNavbar.tsx
  frontend/src/components/layout/TheRoomStatusbar.tsx
  frontend/src/components/layout/TheToast.tsx
  frontend/src/features/dashboard/components/MatchDialog.tsx
  frontend/src/features/dashboard/components/QuestionCheckGroup.tsx
  frontend/src/features/dashboard/components/index.ts
  frontend/src/features/login/components/ForgetPasswordForm.tsx
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/features/login/components/ResetPasswordForm.tsx
  frontend/src/features/login/components/SignupForm.tsx
  frontend/src/features/room/components/LoadedRoom.tsx
  frontend/src/features/room/components/QuestionPanel.tsx
  frontend/src/features/room/components/RoomEditor.tsx
  frontend/src/features/user/components/ChangePasswordForm.tsx
  frontend/src/features/user/components/DeleteAccountDialog.tsx
  frontend/src/features/user/components/EditCredentialsForm.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/room/[id].tsx
  frontend/src/store/createAuthSlice.ts
  frontend/src/store/createEditorSlice.ts
  frontend/src/store/createMatchSlice.ts
  frontend/src/store/createRoomSlice.ts
  frontend/tailwind.config.js
  frontend/vite.config.ts
  frontend/yarn.lock
  shared/package.json
  shared/src/api/match/constants.ts
  shared/src/api/question/schema.ts
  shared/src/api/room/types.ts
Labels: status: done, backend, frontend, priority:high

#94 feat: GitHub Oauth
  backend/.env.example
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.dto.ts
  backend/src/auth/auth.service.ts
  backend/src/config/configuration.ts
  backend/src/config/configuration.validation.ts
  backend/src/question/question.controller.ts
  backend/src/user/user.service.ts
  backend/src/utils/constants.ts
  backend/yarn.lock
  frontend/.env-example
  frontend/src/components/icons/GithubIcon.tsx
  frontend/src/components/icons/GoogleIcon.tsx
  frontend/src/components/icons/index.ts
  frontend/src/components/layout/TheNavbar.tsx
  frontend/src/env.ts
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/features/login/components/SignupForm.tsx
  frontend/src/pages/oauth/github.tsx
  frontend/src/pages/oauth/index.tsx
  frontend/src/pages/signup.tsx
  frontend/src/store/createMatchSlice.ts
  package.json
  shared/src/api/auth/schema.ts
  shared/src/api/auth/types.ts
  shared/src/api/user/schema.ts
  shared/src/models/user.ts
  yarn.lock
Labels: status: done, backend, frontend

#102 fix reset password form bug
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/user/user.service.ts
  frontend/src/components/base/button/base.tsx
  frontend/src/components/base/button/blue.tsx
  frontend/src/components/base/button/github.tsx
  frontend/src/components/base/button/index.tsx
  frontend/src/components/base/button/link.tsx
  frontend/src/components/base/button/primary.tsx
  frontend/src/components/base/button/red.tsx
  frontend/src/components/base/button/secondary.tsx
  frontend/src/components/icons/GithubIcon.tsx
  frontend/src/components/layout/TheNavbar.tsx
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/features/login/components/ResetPasswordForm.tsx
  frontend/src/features/login/components/SignupForm.tsx
  frontend/src/features/user/components/DeleteAccountDialog.tsx
  frontend/src/pages/oauth/github.tsx
  frontend/src/pages/verify/[token].tsx
  shared/src/api/auth/schema.ts
Labels: status: pending review, frontend, priority:high, fix

#91 feat: deploy backend on GAE
  backend/.gcloudignore
  backend/.gitignore
  backend/Dockerfile
  backend/app.yaml
  backend/app.yaml.example
  backend/package.json
  backend/src/config/configuration.ts
  backend/src/config/configuration.validation.ts
  backend/src/config/options.ts
  backend/src/main.ts
  frontend/.env-example
Labels: backend, fix

#113 feat: backend CD
  .github/workflows/backend-cd.yml
  .github/workflows/ci.yml
  backend/package.json
  package.json
Labels: priority:high

#115 refactor: applied PR suggestions
  backend/src/question/question.cache.keys.ts
  backend/src/question/question.service.ts
Labels: backend

#112 Frontend: Create pages for the different match types
  backend/src/question/question.controller.ts
  frontend/src/components/base/dropdown/base.tsx
  frontend/src/components/base/listbox/base.tsx
  frontend/src/components/base/radiogroup/base.tsx
  frontend/src/features/dashboard/components/MatchTypeRadioGroup.tsx
  frontend/src/features/dashboard/components/QuestionCheckGroup.tsx
  frontend/src/features/dashboard/components/QuestionRadioGroup.tsx
  frontend/src/features/dashboard/components/TopicListBox.tsx
  frontend/src/features/dashboard/components/index.ts
  frontend/src/features/room/components/RoomListBox.tsx
  frontend/src/pages/index.tsx
  frontend/src/store/createMatchSlice.ts
  frontend/vite.config.ts
  shared/src/api/match/types.ts
  shared/src/api/question/types.ts
Labels: status: done, frontend
