Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g42, pull requests merged in 2022-09, with the labels that each got.

#24 feat: complete frontend pages setup
  frontend/package.json
  frontend/src/components/base/button/index.tsx
  frontend/src/components/base/index.ts
  frontend/src/components/base/input/index.tsx
  frontend/src/components/base/navbar/index.tsx
  frontend/src/features/login/components/index.ts
  frontend/src/features/login/hooks/index.ts
  frontend/src/features/room/hooks/index.ts
  frontend/src/pages/login.tsx
  frontend/yarn.lock
Labels: status: in progress

#33 feat: FE dashboard
  frontend/.prettierrc.js
  frontend/package.json
  frontend/src/components/base/navbar/index.tsx
  frontend/src/pages/dashboard.tsx
  frontend/yarn.lock
Labels: status: done, frontend, priority:high

#30 feat: add password reset feature
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/constants.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
  backend/src/utils/zod/credentials.ts
  backend/src/zod/index.ts
  backend/src/zod/user.ts
  backend/templates/resetPasswordVerification.hbs
  backend/yarn.lock
  frontend/tailwind.config.js
  frontend/yarn.lock
  matching-service/yarn.lock
Labels: status: pending review, priority:high

#26 feat: add email verification for signup
  backend/.env.local
  backend/docker-compose.yml
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/constants.ts
  backend/src/cache/redisCache.module.ts
  backend/src/cache/redisCache.service.ts
  backend/src/config/configuration.ts
  backend/src/config/configuration.validation.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
  backend/src/utils/mail/index.ts
  backend/src/utils/mail/template.ts
  backend/src/utils/zod/credentials.ts
  backend/src/zod/index.ts
  backend/src/zod/user.ts
  backend/templates/emailVerification.hbs
  backend/templates/resetPasswordVerification.hbs
  backend/yarn.lock
  frontend/tailwind.config.js
  frontend/yarn.lock
  matching-service/yarn.lock
Labels: status: done, backend

#47 fix: match errors to respective http status code
  backend/src/auth/auth.controller.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: status: pending review, status: done, backend, priority:low, documentation

#46 feat: dashboard radio group
  frontend/package.json
  frontend/src/components/base/input/text.tsx
  frontend/src/components/icons/BurgerMenuIcon.tsx
  frontend/src/components/icons/CheckIcon.tsx
  frontend/src/components/icons/SpinnerIcon.tsx
  frontend/src/components/icons/index.ts
  frontend/src/components/layout/navbar/index.tsx
  frontend/src/components/layout/radiogroup/index.tsx
  frontend/src/pages/dashboard.tsx
  frontend/yarn.lock
Labels: status: in progress, frontend

#49 feat: backend-swagger-update
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/user/user.controller.ts
  backend/src/utils/constants.ts
  backend/src/utils/prisma-error-handling.ts
  backend/src/zod/user.ts
Labels: status: done, backend, documentation

#36 feat: add swagger to backend
  backend/nest-cli.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/constants.ts
  backend/src/main.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  backend/src/utils/constants.ts
  backend/src/utils/prisma-error-handling.ts
  backend/src/zod/index.ts
  backend/src/zod/user.ts
  backend/yarn.lock
Labels: status: done, backend

#57 feat: hide navbar on scroll down
  frontend/src/components/layout/navbar/index.tsx
  frontend/src/components/layout/navbar/useScrollDirection.ts
Labels: status: done, frontend

#58 feat: add root package script, add env examples for frontend and backend
  .husky/pre-commit
  README.md
  backend/.env.example
  backend/.eslintignore
  backend/.gitignore
  backend/package.json
  backend/src/match/match.service.ts
  backend/src/utils/constants.ts
  backend/src/utils/prisma-error-handling.ts
  backend/src/zod/index.ts
  backend/yarn.lock
  frontend/.env-example
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/components/base/input/text.tsx
  frontend/src/components/base/toast/index.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/navbar/index.tsx
  frontend/src/dashboard/components/MatchDialog.tsx
  frontend/src/dashboard/components/QuestionRadioGroup.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useSocket.ts
  frontend/src/login/components/ForgetPasswordForm.tsx
  frontend/src/login/components/LoginForm.tsx
  frontend/src/login/components/ResetPasswordForm.tsx
  frontend/src/login/components/SignupForm.tsx
  frontend/src/login/index.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/forget-password.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/reset-password/[token].tsx
  frontend/src/pages/room.tsx
  frontend/tailwind.config.js
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: status: done, backend, frontend, priority:high

#59 chore: remove legacy matching-service
  matching-service/package.json
  matching-service/src/client.ts
  matching-service/src/index.ts
  matching-service/src/server.ts
  matching-service/src/types.ts
  matching-service/test_client.ts
  matching-service/test_server.ts
  matching-service/yarn.lock
Labels: status: done, backend, priority:low

#54 feat: review exceptions throw and edit swaggerUI description
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  backend/src/utils/ThrowKnownPrismaErrors.ts
  backend/src/utils/constants.ts
  backend/src/zod/index.ts
  backend/src/zod/user.ts
Labels: status: pending review, backend, documentation

#65 feat: user profile page
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/user/user.controller.ts
  backend/src/utils/constants.ts
  backend/src/utils/zod/credentials.ts
  frontend/.gitignore
  frontend/src/components/base/button/index.tsx
  frontend/src/components/base/button/secondary.tsx
  frontend/src/components/base/divider/base.tsx
  frontend/src/components/base/divider/index.ts
  frontend/src/components/base/index.ts
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/Container.tsx
  frontend/src/components/layout/TheNavbar.tsx
  frontend/src/dashboard/components/MatchDialog.tsx
  frontend/src/login/components/LoginForm.tsx
  frontend/src/login/components/SignupForm.tsx
  frontend/src/login/types.ts
  frontend/src/pages/user/settings.tsx
  frontend/src/pages/verify/[token].tsx
  frontend/src/store/createAuthSlice.ts
  frontend/src/user/components/ChangePasswordForm.tsx
  frontend/src/user/components/DeleteAccountDialog.tsx
  frontend/src/user/components/EditCredentialsForm.tsx
  frontend/src/user/components/UserSettingsForm.tsx
  frontend/src/user/components/index.ts
  frontend/src/user/index.ts
  frontend/src/user/types.ts
Labels: status: in progress, backend, frontend, priority:high

#76 feat: add github linting ci
  .github/workflows/ci.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/src/main.tsx
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: priority:high
