Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g42, pull requests merged in 2022-11, with the labels that each got.

#81 feat: simple question service table
  .gitignore
  .nvmrc
  backend/src/question/question.service.ts
  frontend/package.json
  frontend/src/components/base/badge/base.tsx
  frontend/src/components/base/badge/index.ts
  frontend/src/components/base/button/base.tsx
  frontend/src/components/base/button/types.ts
  frontend/src/components/base/index.ts
  frontend/src/components/base/table/base.tsx
  frontend/src/components/base/table/index.ts
  frontend/src/components/icons/LeftArrowIcon.tsx
  frontend/src/components/icons/RightArrowIcon.tsx
  frontend/src/components/icons/SortIcon.tsx
  frontend/src/components/icons/index.ts
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/TheNavbar.tsx
  frontend/src/features/questions/QuestionsTable.tsx
  frontend/src/pages/questions.tsx
  frontend/yarn.lock
Labels: status: in progress, frontend, priority:high

#116 feat: add question selection in room page
  frontend/src/components/base/badge/base.tsx
  frontend/src/components/base/listbox/base.tsx
  frontend/src/components/layout/TheRoomStatusbar.tsx
  frontend/src/features/dashboard/components/TopicListBox.tsx
  frontend/src/features/room/components/LoadedRoom.tsx
  frontend/src/features/room/components/QuestionPanel.tsx
  frontend/src/features/room/components/RoomListBox.tsx
  frontend/src/features/room/components/RoomTabs.tsx
  frontend/src/features/room/components/UserStatus.tsx
  frontend/src/features/room/components/index.ts
  frontend/src/pages/questions.tsx
  frontend/src/pages/room/[id].tsx
  frontend/src/store/createEditorSlice.ts
Labels: status: done, frontend

#119 feat: backend history service
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/history/history.controller.ts
  backend/src/history/history.dto.ts
  backend/src/history/history.module.ts
  backend/src/history/history.service.ts
  backend/src/history/history.types.ts
  shared/src/api/constants.ts
  shared/src/api/user/schema.ts
  shared/src/models/index.ts
  shared/src/models/questioncontent.ts
  shared/src/models/questionhint.ts
  shared/src/models/questionsummary.ts
  shared/src/models/topictag.ts
  shared/src/models/user.ts
  shared/src/models/userhistory.ts
Labels: status: pending review, backend

#120 Fix cookie options for local and prod
  backend/src/config/options.ts
Labels: backend, priority:high, fix

#118 feat: add topic and qotd matching
  backend/src/auth/auth.service.ts
  backend/src/match/match.service.ts
  backend/src/question/question.dto.ts
  backend/src/question/question.helper.ts
  backend/src/question/question.service.ts
  backend/src/room/room.service.ts
  frontend/src/components/base/listbox/base.tsx
  frontend/src/components/layout/TheRoomStatusbar.tsx
  frontend/src/features/dashboard/components/DailyQuestionPreview.tsx
  frontend/src/features/dashboard/components/TopicListBox.tsx
  frontend/src/features/dashboard/components/index.ts
  frontend/src/features/room/components/LoadedRoom.tsx
  frontend/src/features/room/components/QuestionPanel.tsx
  frontend/src/features/room/components/RoomTabs.tsx
  frontend/src/features/room/components/UserStatus.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/room/[id].tsx
  frontend/src/store/createMatchSlice.ts
  serverless/question-service/functions/api/questions-content.ts
  shared/src/api/match/types.ts
  shared/src/api/question/schema.ts
  shared/src/api/question/types.ts
  shared/src/api/room/types.ts
Labels: status: done, backend, frontend

#121 Standardise email template
  backend/src/auth/auth.service.ts
  backend/src/utils/constants.ts
  backend/templates/emailVerification.hbs
  backend/templates/resetPassword.hbs
Labels: status: pending review, backend, priority:low

#129 fix: build shared/api before yarn dev
  package.json
Labels: status: pending review, priority:medium, fix

#125 feat: add video communication with video players in room
  backend/src/room/room.gateway.ts
  backend/src/room/room.service.ts
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app.tsx
  frontend/src/features/dashboard/components/MatchDialog.tsx
  frontend/src/features/room/components/LoadedRoom.tsx
  frontend/src/features/room/components/RoomEditor.tsx
  frontend/src/global.d.ts
  frontend/src/pages/room/[id].tsx
  frontend/src/store/createCallSlice.ts
  frontend/src/store/createEditorSlice.ts
  frontend/src/store/createRoomSlice.ts
  frontend/vite.config.ts
  frontend/yarn.lock
  shared/src/api/room/constants.ts
Labels: status: done, backend, frontend, priority:high

#133 feat: fix final video and editor bugs
  backend/src/attempt/attempt.service.ts
  backend/src/auth/auth.service.ts
  backend/src/document/document.gateway.ts
  backend/src/match/match.gateway.ts
  backend/src/room/room.gateway.ts
  frontend/src/features/room/components/LoadedRoom.tsx
  frontend/src/features/room/components/RoomEditor.tsx
  frontend/src/features/room/components/SoloEditor.tsx
  frontend/src/store/createCallSlice.ts
  frontend/src/store/createEditorSlice.ts
  frontend/src/store/createRoomSlice.ts
  shared/src/api/room/constants.ts
Labels: backend, frontend, priority:high

#132 docs: add swagger docs for attempt
  backend/src/attempt/attempt.controller.ts
  backend/src/main.ts
  backend/src/utils/constants.ts
Labels: status: pending review, documentation
